<!DOCTYPE html>
<html lang="en" ng-app="redditClone">
<head>
  <meta charset="UTF-8">
  <title>Reddit Redux (Powered by Angular, created by Andrew Furth)</title>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainController">
  <nav class="navbar navbar-default" ng-controller="navBar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        </button>
        <a class="navbar-brand" href="#">Reddit Redux</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- Submit Post -->
          <li><a ng-click="togglePostForm()"><span class="glyphicon glyphicon-plus"></span> Create Post</a></li>
          <!-- Search -->
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by Votes <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Votes</a></li>
              <li><a href="#">Date</a></li>
              <li><a href="#">Title</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <a class="navbar-brand" href="#">Powered by Angular</a> 
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row" ng-controller="newPostForm" ng-show="view.displayPostForm">
      <!-- NEW POST FORM -->
      <div class="col-md-12" >
        <form action="#" id="new-post-form" name="newPostForm" ng-submit="submitPost()">
          <!-- NEW POST TITLE -->
          <div class="form-group">
            <label for="new-post-title">Title</label>
            <input name="title" ng-model="formData.title" class="form-control" type="text" id="new-post-title" placeholder="Title" ng-minlength=3 ng-maxlength=30 required autocomplete="off" ng-class="{errorInput: newPostForm.title.$dirty && newPostForm.title.$invalid}">
          </div>
          <div class="error" ng-show="newPostForm.title.$dirty && newPostForm.title.$invalid">
            <small class="error" ng-show="newPostForm.title.$error.required">
              A title is required
            </small>
            <small class="error" ng-show="newPostForm.title.$error.minlength">
              Your title must be at least 3 characters
            </small>
            <small class="error" ng-show="newPostForm.title.$error.maxlength">
              Your title cannot be longer than 30 characters
            </small>
          </div>
          <!-- NEW POST AUTHOR -->
          <div class="form-group">
            <label for="new-post-author">Author</label>
            <input name="author" ng-model="formData.author" class="form-control" type="text" id="new-post-author" placeholder="Author" ng-minlength=3 ng-maxlength=30 required autocomplete="off" ng-class="{errorInput: newPostForm.author.$dirty && newPostForm.author.$invalid}">
          </div>
          <div class="error" ng-show="newPostForm.author.$dirty && newPostForm.author.$invalid">
            <small class="error" ng-show="newPostForm.author.$error.required">
              An author is required
            </small>
            <small class="error" ng-show="newPostForm.author.$error.minlength">
              Your author must be at least 3 characters
            </small>
            <small class="error" ng-show="newPostForm.author.$error.maxlength">
              Your author cannot be longer than 30 characters
            </small>
          </div>
          <!-- NEW POST URL -->
          <div class="form-group">
            <label for="new-post-imageURL">Image URL</label>
            <input name="imgURL" ng-model="formData.imgURL" class="form-control" type="text" id="new-post-imageURL" placeholder="Image URL" ng-minlength=5 required autocomplete="off" ng-class="{errorInput: newPostForm.imgURL.$dirty && newPostForm.imgURL.$invalid}">
          </div>
          <div class="error" ng-show="newPostForm.imgURL.$dirty && newPostForm.imgURL.$invalid">
            <small class="error" ng-show="newPostForm.imgURL.$error.required">
              A URL is required
            </small>
            <small class="error" ng-show="newPostForm.imgURL.$error.minlength">
              Your URL must be at least 5 characters
            </small>
          </div>
          <!-- NEW POST DESCRIPTION -->
          <div class="form-group">
            <label for="new-post-description">Description</label>
            <input name="description" ng-model="formData.description" class="form-control" type="text" id="new-post-description" placeholder="Description" ng-minlength=3 ng-maxlength=500 required autocomplete="off" ng-class="{errorInput: newPostForm.description.$dirty && newPostForm.description.$invalid}">
          </div>
          <div class="error" ng-show="newPostForm.description.$dirty && newPostForm.description.$invalid">
            <small class="error" ng-show="newPostForm.description.$error.required">
              A description is required
            </small>
            <small class="error" ng-show="newPostForm.description.$error.minlength">
              Your description must be at least 3 characters
            </small>
            <small class="error" ng-show="newPostForm.description.$error.maxlength">
              Your description cannot be longer than 500 characters
            </small>
          <!-- NEW POST SUBMIT -->
          </div>
           <button type="submit" class="btn btn-default" ng-disabled="newPostForm.$invalid">Submit Post</button>
        </form>

      </div>
    </div>
    <br>
    <div ng-controller="postsDisplay" ng-repeat="post in view.postLog | orderBy:'-votes'">    
      <div class="row">
        <div class="col-md-12 well well-lg">
          <div class="row">
            <div class="col-md-3 post-image-section">
              <div class="thumbnail">
                <img src="{{post.imgURL}}" alt="">
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12 post-title-votes-section">
                  <h3>{{post.title}} | <span class="glyphicon glyphicon-arrow-up" ng-click="vote(1, post.title)"></span> <span class="glyphicon glyphicon-arrow-down" ng-click="vote(-1, post.title)"></span> <span ng-class="{posVotes: post.votes>0, negVotes: post.votes<0}">{{post.votes}}</span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 post-author-section">by {{post.author}}</div>
              </div>
              <div class="row">
                <div class="col-md-12 post-content-section">{{post.description}}</div>
              </div>
              <div class="row" ng-controller="newCommentForm">
                <div class="col-md-12 post-date-comments-section">
                  <h5>
                    <span class="glyphicon glyphicon-calendar"></span> <time am-time-ago="post.datePosted"></time>   |  
                    <a ng-click="toggleCommentsDisplay()"><span class="glyphicon glyphicon-comment"></span> {{post.comments.length}} comment</a>  |  
                    <a ng-click="toggleCommentForm()"><span class="glyphicon glyphicon-pencil" ></span> Add Comment</a>
                  </h5>
                  <form name="newCommentForm" ng-show="displayCommentForm" ng-submit="submitComment(post)">
                    <div class="form-group">
                      <label for="">Author</label>
                      <input type="text" name="author" placeholder="Author" ng-model="newComment.author">
                      <label for="">Text</label>
                      <input type="text" name="text" placeholder="Text" ng-model="newComment.text">
                      <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                  </form>
                  <div ng-show="displayComments" ng-repeat="comment in post.comments">
                    <span>
                      <p>{{comment.author}}: {{comment.text}}</p> 
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- load momentJS (required for angular-moment) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <!-- load Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <!-- load angular-moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js"></script>
  <!-- Load custom JS -->
  <script src="script.js"></script>
</body>
</html>