.post-author-section {
  text-align: right;
}

.post-date-comments-section {
  position: relative;
  bottom: 0px;
}

.error {
  color: red;
}

.errorInput {
  border: 1px solid red;
}

.posVotes {
  color: green;
}

.negVotes {
  color: red;
}

